<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
    <h2 >todo list</h2>
    <tr>
        <div align = "left" >
            <h3><a  th:href="@{'/todoadd'}">Add new</a></h3>
        </div>
    </tr>
    <tr>

        <div class="col-sm-5" align = "center">
            <div class="panel-body" align = "center" >
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Priority</th>
                        <th>Done</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="todo : ${todos}">
                        <td th:text="${todo.name}">Description</td>
                        <td th:text="${todo.date}">Data</td>
                        <td th:text="${todo.priority}">Priority</td>
                        <td th:text="${todo.done}">Status</td>

                        <td>
                            <a th:href="@{'/todoedit/'+${todo.id} +'/edit/'}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/todolist/' + ${todo.id} + '/delete/'}">Delete</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </tr>

</div>
</body>
</html>