<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div class = "container mt-5">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Product</th>
                <th>Sum</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="user : ${users}">
                <td th:text="${user.name}">Data</td>
                <td th:text="${user.description}">Priority</td>
                <td th:text="${user.sum}">Status</td>
                <td> <a th:href="@{/users/update/{id}(id=${user.id})}" class="btn btn-primary">Edit</a>
                <td> <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-primary">Delete</a>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/user}">Main Page</a>
    </form>

</div>
</body>
</html>